body {
    background-image: url(/Users/yutani/codefellows/401/android/AvaServer/src/main/resources/public/img/bg_ava_droid.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}
